<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruity shop</title>
</head>
<body>

    <h1>Welcome <span sec:authorize="isAuthenticated()" sec:authentication="name"></span>!</h1>

    <div>
        <a th:href="@{/product}">
            Liste des articles
        </a>
        <br>
        <a th:href="@{/cart}">
            Voir mon panier
        </a>
    </div>


    <a sec:authorize="!isAuthenticated()" th:href="@{/register}">
        Créer un compte
    </a>
    <a sec:authorize="!isAuthenticated()" th:href="@{/login}">
        Se connecter
    </a>
    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        <button type="submit">Se déconnecter</button>
    </form>
    
</body>
</html>