<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruity shop</title>
</head>
<body>
    <h1>Liste des articles</h1>

    <a th:href="@{/}">
        Accueil
    </a>
    <br>
    <a th:href="@{/cart}">
        Voir mon panier
    </a>

    <ul>
        <li th:each="product : ${products}">
            <h2 th:text="${product.name}">
                Name
            </h2>
            <p>
                Description: <span th:text="${product.description}">Description</span>
            </p>
            <p>
                <span th:text="${product.price}">Price</span> €
            </p>
            <p>
                Stock disponible: <span th:text="${product.stock}">stock</span>
            </p>
            <form th:action="@{/product/add-to-cart}" method="post">

                <input type="hidden" name="productId" th:value="${product.id}">

                <input type="number" name="quantity" value="1" placeholder="1" min="1" th:attr="max=${product.stock}">
                
                <button type="submit">Ajouter au panier</button>
            </form>
        </li>
    </ul>

    
    <nav>        
        <a th:href="@{/products(pageNb=${pageNb-1})}" th:if="${pageNb > 1}">Précédente page</a>
        <a th:href="@{/products(pageNb=${pageNb+1})}">Prochaine page</a>
    </nav>
    
    
</body>
</html>